@import "tailwindcss";

@theme {
    --color-lighter: #E4E4E4;
    --color-light: #D6D6D6;
    --color-gray: #C8C8C8;

    --color-dark-gray: #404040;
    --color-dark: #2C2C2C;
    --color-darker: #181818;


    --color-highlight: #95141E;
    --color-brand: #2FA1C0;
    --color-accent: #C5F8F9
}

/* Remove o outline padrão apenas para elementos que NÃO usam teclado */
:focus:not(:focus-visible) {
    outline: none;
}

/* Adiciona um outline personalizado para foco acessível (teclado) */
:focus-visible {
    outline: 1px solid #95141E;
    outline-offset: 1px;
    box-shadow: 0 0 0 2px rgba(38, 38, 38, 0.1);

}

.max-h-92 {
    max-height: 92%
}