@import "tailwindcss";

@theme {
    --color-elighter: #F2F2F2;
    --color-elight: #E4E4E4;
    --color-egray: #D6D6D6;
    --color-edark-gray: #404040;
    --color-edark: #333333;
    --color-edarker: #262626;

}

/* Remove o outline padrão apenas para elementos que NÃO usam teclado */
:focus:not(:focus-visible) {
    outline: none;
}

/* Adiciona um outline personalizado para foco acessível (teclado) */
:focus-visible {
    outline: 1px solid var(--dark-gray);
    outline-offset: 1px;
    box-shadow: 0 0 0 2px rgba(38, 38, 38, 0.1);

}